@mixin buttonColorGlow($c1, $c2) {
	color: $c1;
	text-shadow: 0px -1px 1px $c2;
}

//Background Color
$BGColor: #ebecf0;

.App {
	text-align: center;
}

//Styling top menu
body,
html {
	background-color: $BGColor;
}

body,
p,
input,
select,
textarea,
button {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.2px;
	font-size: 16px;
}

div,
p {
	color: #babecc;
	text-shadow: 1px 1px 1px #fff;
}

p {
	margin: 0;
}

header {
	background-color: $BGColor;
	padding: 5px;
	padding: 12px 0;
	text-align: center;
	height: 55px;
}

button,
input {
	border: 0;
	outline: 0;
	font-size: 14px;
	border-radius: 320px;
	padding: 16px;
	background-color: $BGColor;
	text-shadow: 1px 1px 0 #fff;
	margin: 5px;
}
.i {
	position: absolute;
	padding: 0px;
	margin-left: 10px;
}

.heading {
	display: inline-block;
	padding: 0px;
	color: rgb(85, 85, 85);
}

.main-menu-button {
	display: block;
	clear: both;
}

@media screen and (min-width: 550px) {
	.main-menu-button {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

div.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
}

@media screen and (max-width: 550px) {
	.main-menu-button {
		width: 50%;
		margin: 0 auto;
	}
	div.menu {
		margin-top: 100px;
	}
}

div.menu.trie ul {
	margin-bottom: 0px;
}

div.menu li {
	display: inline-block;
}

input {
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
	width: 110px;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	appearance: none;
	-webkit-appearance: none;
}
input:focus {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
	color: #61677c;
	font-weight: bold;
	box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	font-weight: 600;
}

button:hover {
	box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
	color: #3975e4;
	text-shadow: 0px -1px 1px rgba(0, 132, 255, 0.2);
}

#mainAVL button:hover,
#mainBST button:hover,
#mainMaxH button:hover,
#mainMinH button:hover,
#mainRedB button:hover,
#mainTrie button:hover {
	box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
	color: #d69e2e;
	text-shadow: 0px -1px 1px #d69e2e4d;
	&.delete {
		color: #e43939;
		text-shadow: 0px -1px 1px rgba(255, 0, 0, 0.2);
	}

	&.insert {
		color: #3fda31;
		text-shadow: 0px -1px 1px rgba(0, 255, 21, 0.2);
	}

	&:active {
		box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
	}
}

#mainBST button:hover {
	@include buttonColorGlow(#4299e1, #4299e159);
}

#mainMaxH button:hover {
	@include buttonColorGlow(#9f7aea, #9f7aea59);
}

#mainMinH button:hover {
	@include buttonColorGlow(#ed64a6, #ed64a659);
}
#mainRedB button:hover {
	@include buttonColorGlow(#ed8936, #ed893659);
}

#mainTrie button:hover {
	@include buttonColorGlow(#667eea, #667eea59);
}

button:active {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.dropdown {
	position: relative;
	display: inline-block;
	transition: all 2s ease-in-out;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: $BGColor;
	border-radius: 20px;
	width: 100%;
	height: 180px;
	padding: 0 10px;
	text-align: center;
	box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.traversal,
.bstlist {
	margin: 10px 10px;
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
	padding: 16px;
	border-radius: 20px;
}

.traversal ul,
.bstlist ul {
	padding: 0;
	margin: 0;
	list-style: none;
	color: #61677c;
	font-weight: bold;
}

.traversal li {
	display: inline;
	padding: 3px;
}

.bstlist li {
	padding: 3px;
}

.error {
	color: red;
}

@media screen and (min-width: 850px) {
	.traversal {
		position: absolute;
		left: 10px;
		top: 140px;
	}

	.bstlist {
		position: absolute;
		right: 10px;
		top: 140px;
	}
}
