@mixin buttonColorGlow($c1, $c2) {
	color: $c1;
	text-shadow: 0px -1px 5px $c2;
}

body {
	position: relative;
}

//Styling buttons
#bst button,
#trie button,
#avl button,
#minheap button,
#maxheap button,
#redb button {
	width: 30%;
	position: absolute;
	height: 270px;
	left: 2%;
	border-radius: 50px;
	font-size: 50px;
	&:hover {
		@include buttonColorGlow(#4299e1, #4299e159);
	}
}

#trie button {
	left: 34.5%;
	&:hover {
		@include buttonColorGlow(#667eea, #667eea59);
	}
}

#avl button {
	left: 67%;
	&:hover {
		@include buttonColorGlow(#d69e2e, #d69e2e59);
	}
}

#minheap button {
	left: 2%;
	top: 390px;
	&:hover {
		@include buttonColorGlow(#ed64a6, #ed64a659);
	}
}

#maxheap button {
	left: 34.5%;
	top: 390px;
	&:hover {
		@include buttonColorGlow(#9f7aea, #9f7aea59);
	}
}

#redb button {
	left: 67%;
	top: 390px;
	&:hover {
		@include buttonColorGlow(#ed8936, #ed893659);
	}
}

//Heading style
.heading.main {
	font-size: 50px;
	margin: 0;
}

//Popup style
.list-data {
	list-style: none;
}

.list-data li {
	font-weight: bold;
}

//Responsiveness
@media screen and (max-width: 800px) {
	#bst,
	#trie,
	#avl,
	#redb,
	#maxheap,
	#minheap {
		width: 95%;
		margin: 20px auto;
	}

	.main-header h1 .i {
		position: absolute;
		right: 2%;
		top: 2%;
	}

	#bst button,
	#trie button,
	#avl button,
	#redb button,
	#maxheap button,
	#minheap button {
		position: relative;
		right: 0;
		left: 0;
		top: 0;
		margin: 0;
		height: 170px;
		font-size: 30px;
		border-radius: 50px;
		width: 100%;
	}
}
